<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Seismic_Acquisition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Seismic_Acquisition.Properties.Settings>
            <setting name="Acquire_EW_Maximum" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Acquire_EW_Minimum" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="Acquire_NS_Maximum" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Acquire_NS_Minimum" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="History_EW_Maximum" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="History_EW_Minimum" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="History_NS_Maximum" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="History_NS_Minimum" serializeAs="String">
                <value>-1000</value>
            </setting>
        </Seismic_Acquisition.Properties.Settings>
    </userSettings>
</configuration>